/* Fonts */
$Default: "";
$Roboto: "Martian Mono", monospace;
$Arial: "Arial", Helvetica, monospace;
$YoungSerif: "Young Serif", sans-serif;
$Montserrat: "Montserrat", serif;
$Poppins: "Poppins", "Montserrat", sans-serif;
$PixelifySans: "Pixelify Sans", cursive;
$OldSchool: "Playfair Display", serif;
$PlayfulContemporary: "Quicksand", sans-serif;
$Serious: "Open Sans", sans-serif;
$Ubuntu: "Ubuntu", sans-serif;
$Impactful: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
/* Colours */
$whitedefault: #ffffff;
$lightpurple: #ab99ca;
$darkgrey: #999;
$lightorange: #ffb84d;
$lightbluegrey: #93a1a1;
$lightsolarized: #fdf6e3;
$darksolarized: #002b36;
$turquoise: #6cfff0b7;
$babyblue: #a9ecff;
$medblue: #50c3e6;
$dodgerblue: #0099ff;
$cadetblue: #7898a3;
$lightgreen: #b2ffc8;
$darkgreen: #549d33ce;
$lushgreen: #a8d272;
$armygreen: #4c5e36;
$lightblack: #4b4b4b;
/* misc */
$spacing: 2rem;