@import 'variables';
@import 'mixins';
@import 'cards';
@import 'overlays';
@import 'checkboxes';
@import 'navbar';

body {
    margin: 0;
    font-family: $Ubuntu;
    background-color: $whitedefault;
    padding: $spacing;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include flex-center();
}